* {
    box-sizing: border-box;
}
body {
    font-size: 0.9em;
    filter: invert(100%);
    background-color: #000;
    font-family: "RobotoMonoRegular", monospace;
}
a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
h1, h2, h3, p {
    margin-top: 0;
    font-size: 1em;
    margin-bottom: 0;
}
p.indented {
    margin-left: 2em;
}
div.section div {
    margin-left: 4em;
}
div.container {
    max-width: 42em;
}
div, p.indented {
    margin-bottom: 1em;
}
div.container div h1 {
    font-weight: normal;
}
.command, .argument {
    font-weight: bold;
}